<div class="profile">
  <div class="container">
    <p class="pageTitle">We're grateful you're participating!</p>

    <p class="featuredPara">Please answer the questions below to provide our project with your demographic information. All of the information is being collected securely, and we will never publicly connect your identity with the information you provide.</p>

    <div class="demographicSurvey">
      <h2 class="pageSubtitle">Demographic Survey</h2>

      <%= form_for @user, url: :profile, method: :put do |f| %>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Income</h3>

          <%= f.fields_for :income do |income_field| %>
            <%= render "income_fields", { f: income_field } %>
          <% end %>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Year of Birth</h3>

          <%= f.fields_for :year_of_birth do |yob_field| %>
            <%= render "year_of_birth_fields", { f: yob_field } %>
          <% end %>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Gender</h3>

          <%= f.fields_for :genders do |gender_field| %>
            <%= render "gender_fields", { f: gender_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Gender', f, :genders %>
          </div>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Race</h3>

          <%= f.fields_for :races do |race_field| %>
            <%= render "race_fields", { f: race_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Race', f, :races %>
          </div>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Ethnicity</h3>

          <%= f.fields_for :ethnicities do |ethnicity_field| %>
            <%= render "ethnicity_fields", { f: ethnicity_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Ethnicity', f, :ethnicities %>
          </div>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Sexual Orientation</h3>

          <%= f.fields_for :sexual_orientations do |sexual_orientation_field| %>
            <%= render "sexual_orientation_fields", { f: sexual_orientation_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Sexual Orientation', f, :sexual_orientations %>
          </div>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Religion</h3>

          <%= f.fields_for :religions do |religion_field| %>
            <%= render "religion_fields", {f: religion_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Religion', f, :religions %>
          </div>
        </fieldset>

        <%= f.submit "Save Profile", class: "btn btn--alt btn--full btn--big" %>
      <% end %>
    </div>
  </div>
</div>
