<div class="profile">
  <div class="container">
    <p class="pageTitle">We're grateful you're participating!</p>

    <p class="featuredPara">Please answer the questions below to provide our project with your demographic information. All of the information is being collected securely, and we will never publicly connect your identity with the information you provide.</p>

    <div class="demographicSurvey">
      <h2 class="pageSubtitle">Demographic Survey</h2>

      <%= form_for @user, url: :profile, method: :put do |f| %>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Income</h3>

          <%= f.fields_for :income do |income_field| %>
            <%= render "income_fields", { f: income_field } %>
          <% end %>
        </fieldset>

        <fieldset class="profileSection">
          <h3 class="profileSectionHeader">Race</h3>

          <%= f.fields_for :races do |race_field| %>
            <%= render "race_fields", { f: race_field } %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Another Race', f, :races %>
          </div>
        </fieldset>

        <%= f.submit "Save Profile", class: "btn btn--alt btn--full btn--big" %>
      <% end %>
    </div>
  </div>
</div>
