<%= form_for @user, url: :profile, method: :put do |f| %>

  <fieldset>
    Income<br>

    <%= f.fields_for :income do |income_field| %>
      <%= render "income_fields", { f: income_field } %>
    <% end %>
  </fieldset>

  <fieldset>
    Race<br>

    <%= f.fields_for :races do |race_field| %>
      <%= render "race_fields", { f: race_field } %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Add', f, :races %>
    </div>
  </fieldset>

  <fieldset>
    Sexual Orientation<br>

    <%= f.fields_for :sexual_orientation do |sexual_orientation_field| %>
      <%= render "sexual_orientation_fields", { f: sexual_orientation_field } %>
    <% end %>
  </fieldset>


  <fieldset>
    Religion<br>

    <%= f.fields_for :religion do |religion_field| %>
      <%= render "religion_fields", {f: religion_field } %>
    <% end %>
  </fieldset>

  <%= f.submit "Save Profile" %>
<% end %>