<div class="graph" data-graph-id="<%= graph.id %>" data-graph-index="<%= graph.index %>" data-graph-labels="<%= graph.labels %>" data-graph-values="<%= graph.values %>">
  <div class="exhibit">
    <canvas id="graph_<%= graph.id %>" width="400" height="400"></canvas>
  </div>
</div>
