<!DOCTYPE html>
<html>
<head>
  <title>Diverse Feed</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <h1 class="titleLink"><%= link_to "Diverse Feed", :root %></h1>

    <ul class="siteNav">
      <% if current_user %>
        <li><%= link_to "Profile", :profile %></li>
        <li><%= link_to "Log out", :logout, method: :delete %></li>
      <% else %>
        <li><%= link_to "Participate", :login %></li>
        <li><%= link_to "Get a Report", :new_report %></li>
      <% end %>
    </ul>
  </header>
</div>

<%= yield %>

</body>
</html>
